
/*button*/

.BSbtn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .BSbtn {
    transition: none;
  }
}

.BSbtn:hover {
  color: #212529;
  text-decoration: none;
}

.BSbtn:focus, .BSbtn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.BSbtn.disabled, .BSbtn:disabled {
  opacity: 0.65;
}

.BSbtn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.BSbtn.disabled,
fieldset:disabled a.BSbtn {
  pointer-events: none;
}

.BSbtn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.BSbtn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.BSbtn-primary:focus, .BSbtn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.BSbtn-primary.disabled, .BSbtn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.BSbtn-primary:not(:disabled):not(.disabled):active, .BSbtn-primary:not(:disabled):not(.disabled).active,
.show > .BSbtn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.BSbtn-primary:not(:disabled):not(.disabled):active:focus, .BSbtn-primary:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.BSbtn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.BSbtn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.BSbtn-secondary:focus, .BSbtn-secondary.focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.BSbtn-secondary.disabled, .BSbtn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.BSbtn-secondary:not(:disabled):not(.disabled):active, .BSbtn-secondary:not(:disabled):not(.disabled).active,
.show > .BSbtn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.BSbtn-secondary:not(:disabled):not(.disabled):active:focus, .BSbtn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.BSbtn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.BSbtn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.BSbtn-success:focus, .BSbtn-success.focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.BSbtn-success.disabled, .BSbtn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.BSbtn-success:not(:disabled):not(.disabled):active, .BSbtn-success:not(:disabled):not(.disabled).active,
.show > .BSbtn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.BSbtn-success:not(:disabled):not(.disabled):active:focus, .BSbtn-success:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.BSbtn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.BSbtn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.BSbtn-info:focus, .BSbtn-info.focus {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.BSbtn-info.disabled, .BSbtn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.BSbtn-info:not(:disabled):not(.disabled):active, .BSbtn-info:not(:disabled):not(.disabled).active,
.show > .BSbtn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.BSbtn-info:not(:disabled):not(.disabled):active:focus, .BSbtn-info:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.BSbtn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.BSbtn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.BSbtn-warning:focus, .BSbtn-warning.focus {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.BSbtn-warning.disabled, .BSbtn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.BSbtn-warning:not(:disabled):not(.disabled):active, .BSbtn-warning:not(:disabled):not(.disabled).active,
.show > .BSbtn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.BSbtn-warning:not(:disabled):not(.disabled):active:focus, .BSbtn-warning:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.BSbtn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.BSbtn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.BSbtn-danger:focus, .BSbtn-danger.focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.BSbtn-danger.disabled, .BSbtn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.BSbtn-danger:not(:disabled):not(.disabled):active, .BSbtn-danger:not(:disabled):not(.disabled).active,
.show > .BSbtn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.BSbtn-danger:not(:disabled):not(.disabled):active:focus, .BSbtn-danger:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.BSbtn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.BSbtn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.BSbtn-light:focus, .BSbtn-light.focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.BSbtn-light.disabled, .BSbtn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.BSbtn-light:not(:disabled):not(.disabled):active, .BSbtn-light:not(:disabled):not(.disabled).active,
.show > .BSbtn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.BSbtn-light:not(:disabled):not(.disabled):active:focus, .BSbtn-light:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.BSbtn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.BSbtn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.BSbtn-dark:focus, .BSbtn-dark.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.BSbtn-dark.disabled, .BSbtn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.BSbtn-dark:not(:disabled):not(.disabled):active, .BSbtn-dark:not(:disabled):not(.disabled).active,
.show > .BSbtn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.BSbtn-dark:not(:disabled):not(.disabled):active:focus, .BSbtn-dark:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.BSbtn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.BSbtn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.BSbtn-outline-primary:focus, .BSbtn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.BSbtn-outline-primary.disabled, .BSbtn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.BSbtn-outline-primary:not(:disabled):not(.disabled):active, .BSbtn-outline-primary:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.BSbtn-outline-primary:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.BSbtn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.BSbtn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.BSbtn-outline-secondary:focus, .BSbtn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.BSbtn-outline-secondary.disabled, .BSbtn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.BSbtn-outline-secondary:not(:disabled):not(.disabled):active, .BSbtn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.BSbtn-outline-secondary:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.BSbtn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.BSbtn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.BSbtn-outline-success:focus, .BSbtn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.BSbtn-outline-success.disabled, .BSbtn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.BSbtn-outline-success:not(:disabled):not(.disabled):active, .BSbtn-outline-success:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.BSbtn-outline-success:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.BSbtn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.BSbtn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.BSbtn-outline-info:focus, .BSbtn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.BSbtn-outline-info.disabled, .BSbtn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.BSbtn-outline-info:not(:disabled):not(.disabled):active, .BSbtn-outline-info:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.BSbtn-outline-info:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.BSbtn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.BSbtn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.BSbtn-outline-warning:focus, .BSbtn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.BSbtn-outline-warning.disabled, .BSbtn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.BSbtn-outline-warning:not(:disabled):not(.disabled):active, .BSbtn-outline-warning:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.BSbtn-outline-warning:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.BSbtn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.BSbtn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.BSbtn-outline-danger:focus, .BSbtn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.BSbtn-outline-danger.disabled, .BSbtn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.BSbtn-outline-danger:not(:disabled):not(.disabled):active, .BSbtn-outline-danger:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.BSbtn-outline-danger:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.BSbtn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.BSbtn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.BSbtn-outline-light:focus, .BSbtn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.BSbtn-outline-light.disabled, .BSbtn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.BSbtn-outline-light:not(:disabled):not(.disabled):active, .BSbtn-outline-light:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.BSbtn-outline-light:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.BSbtn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.BSbtn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.BSbtn-outline-dark:focus, .BSbtn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.BSbtn-outline-dark.disabled, .BSbtn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.BSbtn-outline-dark:not(:disabled):not(.disabled):active, .BSbtn-outline-dark:not(:disabled):not(.disabled).active,
.show > .BSbtn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.BSbtn-outline-dark:not(:disabled):not(.disabled):active:focus, .BSbtn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .BSbtn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.BSbtn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

.BSbtn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.BSbtn-link:focus, .BSbtn-link.focus {
  text-decoration: underline;
}

.BSbtn-link:disabled, .BSbtn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.BSbtn-lg, .BSbtn-group-lg > .BSbtn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.BSbtn-sm, .BSbtn-group-sm > .BSbtn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.BSbtn-block {
  display: block;
  width: 100%;
}

.BSbtn-block + .BSbtn-block {
  margin-top: 0.5rem;
}

/*Border*/
.borderless td, .borderless th {
    border: none;
}