
.login-box{
  background-color: rgba(0,0,0,.8) !important;
  padding: 30px 25px;
}
.login-box .form-group input.form-control{
  color: #fff !important;
}
.login-box .box-title{
  color: #fff !important;
}

.customLoading {
  height:100%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color:rgba(0,0,0,.6);
  text-align: center;
  display: table;
}

.customLoadingContainer {
  display: table-cell;
    vertical-align: middle;
}
.login-box h4.box-title{
  color: red !important;
}


.top-left-part {
  width: auto !important;
  padding: 0 10px;
}
.top-left-part h2 {
  padding-left: 20px;
  display: inline-block;
  color: #fff;
}

.dropdown-toggle.profile-pic{
  border-left: 1px solid #fff;
}

/*  table.table thead, table.DTFC_Cloned thead, table.DTFC_Cloned tfoots{
 background-color: #272f98 !important;
} */
table.table > thead > tr > th{
  color: #fff;
}
table.table tbody{
  color: #333;
  font-weight: 400;
}

table.table{
	margin: 0 !important;
}

ul.dropdown-menu{
  background:#42a5f5;
  padding:0;
}

ul.dropdown-menu>li>a {
  color:#fff;
  padding:15px 25px;
}

ul.dropdown-menu .divider {
  margin:0;
}

ul.dropdown-menu>li>a:focus, ul.dropdown-menu>li>a:hover{
  color: #fff;
  background: rgba(0, 0, 0, 0.08);
}

/* Font */
.font-weight-bold{
  font-weight: bold !important;
}
.font-weight-700{
  font-weight: 700 !important;
}

/* Height */

.h-5{
  height: 5px !important;
}
.h-10{
  height: 10px !important;
}
.h-15{
  height: 15px !important;
}
.h-20{
  height: 20px !important;
}
.h-30{
  height: 30px !important;
}
.h-50{
  height: 50px !important;
}
.h-80{
  height: 50px !important;
}
.h-100{
  height: 100px !important;
}
.h-200{
  height: 200px !important;
}




/* Margin */
.m-5{
  margin: 5px !important;
}
.m-10{
  margin: 10px !important;
}
.m-15{
  margin: 15px !important;
}
.m-20{
  margin: 20px !important;
}

/* Display */

.d-inline{
  display: inline !important;
}
.d-inline-block{
  display: inline-block !important;
}
.d-block{
  display: block !important;
}
.d-none{
  display: none !important;
}

/* Width  */

.w-full, .w-100{
  width: 100% !important;
}
.w-90{
  width: 90% !important;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-50p {
  width: 50px !important;
}
.w-100p {
  width: 100px !important;
}
.w-150p {
  width: 150px !important;
}
.w-200p {
  width: 200px !important;
}
.w-300p {
  width: 300px !important;
}

/* Padding */
.p-2{
  padding: 2px !important;
}
.p-5{
  padding: 5px !important;
}
.py-5{
  padding: 5px 0 !important;
}
.px-5{
  padding: 0 5px !important;
}
.py-10{
  padding: 10px 0 !important;
}
.px-10{
  padding: 0 10px !important;
}
.py-15{
  padding: 15px 0 !important;
}
.px-15{
  padding: 0 15px !important;
}
.py-20{
  padding: 20px 0 !important;
}
.px-20{
  padding: 0 20px !important;
}
.py-30{
  padding: 30px 0 !important;
}
.px-30{
  padding: 0 30px !important;
}
.py-30{
  padding: 30px 0 !important;
}
.px-30{
  padding: 0 30px !important;
}

/* Background */
.bg-white{
  background-color: #fff !important;
}
.bg-black{
  background-color: #000 !important;
}
.bg-blue{
  background-color: #3f51b5 !important;
}
.bg-green{
  background-color: #4caf50 !important;
}
.bg-red{
  background-color: #f44336 !important;
}
.bg-yellow{
  background-color: #ffc107 !important;
}
.bg-grey{
  background-color: #9e9e9e !important;
}

/* Align */
.align-middle{
  vertical-align: middle !important;
}

.form-horizontal .form-control-label.text-left{
  text-align: left !important;
}
.form-horizontal .form-control-label{
  padding-top: 5px !important;
}


.select-center{
  text-align-last:center;
}

.custom-input-file{
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background: #edf1f5;
  border: 1px solid #e4e7ea;
  outline: none;
}
.custom-input-file{
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  background: #edf1f5;
  border: 1px solid #e4e7ea;
  outline: none !important;
}

.modal-header{
  background: #42a5f5;
}


input.number-only::-webkit-outer-spin-button,
input.number-only::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.number-only{
  -moz-appearance:textfield;
}


/* Group Menu */
#ms-menu-list{
  width: 100%;
}
.ms-list.menu-list{
  height: 250px !important;
}

.choose-icon{
  cursor: pointer;
  line-height: 50px;
  white-space: nowrap;
  color: #686868;
  font-size: 12px;
}
.choose-icon:hover{
  background: #f7fafc;
  color: #2b2b2b;
}
.choose-icon:active i{
  background: #f7fafc;
}
.choose-icon i{
  -webkit-transition: all .2s;
  -webkit-transition: font-size .2s;
  display: inline-block;
  font-size: 12px;
  margin: 0 15px 0 10px;
  text-align: left;
  transition: all .2s;
  transition: font-size .2s;
  vertical-align: middle;
  width: auto;
  transition: all .3s ease 0s;
}
.choose-icon:hover i{
  font-size: 1.7em;
}
.choose-icon.active{
  background: #f7fafc;
  color: #03a9f3;
}

.font-size-14{
  font-size: 14px !important;
}
.font-size-16{
  font-size: 16px !important;
}
.font-size-18{
  font-size: 18px !important;
}


/* Datatable FIX */

table.dataTable{
  margin: 0 !important;
}

table.dataTable > thead {
  background-color: #3f51b5;
}
table.dataTable > tbody {
  color: #504f4f;
  font-weight: 400;
}

table.dataTable > thead > tr > th {
  vertical-align: middle;
  font-weight: 500 !important;
  color:  #fff !important;
  text-align: center !important;
}

table.dataTable thead th, table.dataTable thead td {
  padding-top: 8px;
  padding-bottom: 8px;
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 6px 10px;
  vertical-align: middle;
}

table.dataTable.table-hover > tbody > tr:hover,
table.dataTable.hover > tbody > tr:hover {
  background-color: #ccc !important;
  cursor: pointer;
}

table.no-bodered tr > td{
  border: 0 !important;
}

table.dataTable{
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; // ***********add this
  word-wrap:break-word; // ***********and this
}

table.dataTable tbody tr.selected,
table.dataTable tbody tr.selected:hover {
    cursor: default !important;
    background-color: #ff9800 !important;
}
table.dataTable tbody tr.selected-grey,
table.dataTable tbody tr.selected-grey:hover {
    cursor: default !important;
    background-color: #999 !important;
}

.dataTables_processing {
  z-index: 1;
  background: transparent !important;
}

.dataTables_scrollBody table.dataTable > thead > tr > th.sorting_disabled{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/* table.dataTable {
  margin: 0;
}
table.dataTable thead {
  background-color: #3f51b5;
}
table.dataTable.dtr-inline thead {
  background-color: #424242 !important;
}
table.dataTable thead tr th{
  font-weight: 500 !important;
  color:  #fff !important;
  text-align: center !important;
}
table.dataTable tbody{
    color: #504f4f;
    font-weight: 400;
}
table.dataTable td{
  vertical-align: middle;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_filter select{
  width: 140px;
  display: inline-block;
} */

.navbar-brand{
   padding: 1.12rem 1.1rem !important;
}
.navbar-brand-logo{
  height: 3.2rem !important;
}